* {
  color: white;
  font-size: large;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #0d1f2f;
}

.root,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #0d1f2f;
  font-family: "Heebo", sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
}

h1 {
  letter-spacing: 0.2rem;
  overflow-y: hidden;
}
h2 {
  color: brown;
}

.project-title {
  font-size: 3em;
}

.header {
  height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; /* centers items vertically */
  justify-content: space-evenly; /* centers items horizontally */
  margin: 0 auto;
}

.header .text {
  text-align: center;
}
.header img {
  max-width: 100%; /* make sure the image doesn't exceed the width of its container */
  height: 80%;
  border-radius: 25% 10%;
  border: thick double #3249ce;
  box-shadow: #32a1ce;
  box-shadow: 5px 3px 3px #154457;
}
