* {
  color: white;
  font-size: large;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #0d1f2f;
}

.root,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #0d1f2f;
  font-family: "Heebo", sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
}

h1 {
  letter-spacing: 0.2rem;
  overflow-y: hidden;
}

.project-title {
  font-size: 3em;
}

.header {
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center; /* centers items vertically */
  justify-content: space-evenly; /* centers items horizontally */
  margin: 0 auto;
}

.header .text {
  text-align: center;
}
.header img {
  max-width: 100%; /* make sure the image doesn't exceed the width of its container */
  height: 80%;
  border-radius: 25% 10%;
  border: thick double #3249ce;
  box-shadow: #32a1ce;
  box-shadow: 5px 3px 3px #154457;
}

@media only screen and (max-width: 390px) {
  .root {
    overflow-x: hidden !important;
  }
  body {
    max-width: 390;
    font-size: smaller;
    margin: 0 auto;
  }

  .header {
    display: block;
    overflow-x: hidden;
  }
  .designs-1 {
    width: 50%;
    height: 50%;
  }
  .designs-2 {
    width: 30%;
    height: 30%;
    border-radius: 0;
  }
  .designs-3 {
    border-radius: 0;
  }

  img {
    height: 70%;
  }
  h1 {
    font-size: 2em;
  }
  .header img {
    width: 100%;
  }
  .body-img img {
    max-width: 100%;
    max-height: 100%;
  }
}
