#skills h2 {
  font-size: 4em;
  color: brown;
}
.front {
  text-align: left;
  margin-left: 5%;
}
.FrontEnd {
  margin: 5% 0%;
}

.FrontEnd ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5% 2rem;
}
.FrontEnd h3 {
  font-size: 2.3em;
}
.FrontEnd li {
  font-size: 1.5em;
}

.BackEnd ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5% 2rem;
}
.BackEnd li {
  font-size: 1.5em;
}

.BackEnd h3 {
  margin-left: 5%;
  font-size: 2.3em;
  text-align: left;
}

.coding-icon {
  font-size: 0.8em;
  margin-left: 1px;
}

@media (max-width: 768px) {
  #skills {
    margin-top: 65em;
    margin-left: 1rem;
  }
  .FrontEnd h2 {
    text-align: center;
  }
  .FrontEnd h3 {
    text-align: center;
  }
  .BackEnd h3 {
    text-align: center;
    margin-top: 10%;
  }
}
