#skills h2 {
  font-size: 4em;
  color: brown;
}
.front {
  text-align: left;
  margin-left: 5%;
}
.FrontEnd {
  margin: 5% 0%;
}

.FrontEnd ul {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 2rem;
}
.FrontEnd h3 {
  font-size: 2.3em;
}
.FrontEnd li {
  font-size: 1.5em;
}

.BackEnd ul {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 2rem;
}
.BackEnd li {
  font-size: 1.5em;
}

.BackEnd h3 {
  margin-left: 5%;
  font-size: 2.3em;
  text-align: left;
}

.coding-icon {
  font-size: 0.8em;
  margin-left: 1px;
}

@media only screen and (max-width: 390px) {
  .FrontEnd {
    margin-top: 10%;
    margin-bottom: 50%;
    margin-left: 5%;
    text-align: left;
  }
  br {
    display: none;
  }
  p {
    clear: both;
    margin: 10% 8%;
    text-align: unset !important;
  }
  .FrontEnd h2 {
    font-size: 2em;
  }
  .BackEnd h2 {
    font-size: 2em;
  }
  .FrontEnd h3 {
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: 700;
  }

  .BackEnd {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 50%;
  }
  .BackEnd h3 {
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: 700;
  }

  .FrontEnd ul {
    display: block;
    z-index: 10;
  }
  .FrontEnd li {
    float: left;
    z-index: 10;
    font-size: 1.4em;
  }
  .BackEnd {
    margin-top: 10%;
    text-align: LEFT;
    margin-left: 5%;
    z-index: 10;
  }
  .BackEnd ul {
    display: block;
    z-index: 10;
  }
  .BackEnd li {
    font-size: 1.4em;
    float: left;
    z-index: 10;
  }

  .database {
    text-align: left;
    margin-left: 5%;
    margin-top: 40% !important;
  }
  .database h3 {
    text-decoration: underline;
    font-size: 1.8em;
    font-weight: 700;
  }
  .database li {
    font-size: 1.4em;
  }
}
