.Project h5 {
  text-align: left;
}
.Project h2 {
  font-size: 4em;
}
.Project h4 {
  font-size: 1em;
}
.Project ul {
  margin-top: 1rem;
  margin-left: 1rem;
  list-style-type: disc;
}

.project-title {
  text-align: center;
  margin: 1em 1em;
}
li {
  text-align: left;
}
iframe {
  height: 80%;
  width: 50vw;
}
.video-wrapper {
  height: 100%;
}
.project1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 70vh;
}
.info1 {
  width: 50%;
  align-items: center;
}
.project2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 70vh;
}
.info2 {
  width: 50%;
  align-items: center;
}
.project3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 70vh;
}
.info3 {
  width: 50%;
  align-items: center;
}

.info3 h5 {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .project1 {
    flex-direction: row;
    height: auto;
  }
  .info1,
  iframe {
    width: 100%;
  }
  .project2 {
    flex-direction: row;
    height: auto;
  }
  .info2,
  iframe {
    width: 100%;
  }
  .project3 {
    flex-direction: row;
    height: auto;
  }
  .info3,
  iframe {
    width: 100%;
  }
}
