.Project {
  text-align: left;
  margin-bottom: 10%;
}
.Project h2 {
  font-size: 4em;
  margin-top: 10%;
}

.Project ul {
  margin-left: 1rem;
  list-style-type: disc;
}

.project-title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
li {
  text-align: left;
}

.project1 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.info1 {
  grid-column-start: 2;
}
.project1 img {
  max-width: 100%;
  max-height: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
}
.project2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "info img";
}
.info2 {
  text-align: justify;

  grid-area: info;
}
.project2 img {
  max-width: 100%;
  max-height: 100%;
  grid-area: img;
}
.project3 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.info3 {
  grid-column-start: 2;
}
.info3 h5 {
  font-size: 1.5em;
}
.project3 img {
  max-width: 100%;
  max-height: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
}

@media only screen and (max-width: 390px) {
  br {
    display: none;
  }
  .project1 {
    display: unset;
  }
  .project2 {
    display: unset;
  }
  .info1 {
    text-align: unset;
  }
  .info2 {
    text-align: unset;
  }
  .info3 {
    text-align: unset;
  }
  .project3 {
    display: unset;
  }
}
