.Project h5 {
  text-align: left;
}
.Project h2 {
  font-size: 4em;
}

.Project ul {
  margin-top: 1rem;
  margin-left: 1rem;
  list-style-type: disc;
}

.project-title {
  text-align: center;
  margin: 1em 1em;
}
li {
  text-align: left;
}

.project1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr; /* set all rows to 1 fraction */
  align-items: stretch;
}
.info1 {
  grid-column-start: 2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project1 img {
  max-width: 100%;
  max-height: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
}
.project2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "img info";
}
.info2 {
  grid-column-start: 2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project2 img {
  max-width: 100%;
  max-height: 100%;
  grid-area: img;
}
.project3 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.info3 {
  grid-column-start: 2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info3 h5 {
  font-size: 1.5em;
}
.project3 img {
  max-width: 100%;
  max-height: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
}
